html {
  text-rendering: optimizeLegibility;
  margin-top: -33px;
  width: 56.235%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

#eqn {
  position: relative;
  margin: auto;
}
